/* Write your CSS here */
.repository-card-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8ff;
  flex-basis: 100%;
  padding: 24px;
  border-radius: 24px;
  height: 200px;
  margin-bottom: 24px;
}
@media (min-width: 576px) {
  .repository-card-items-container {
    flex-basis: 45%;
    margin-left: 16px;
  }
}
@media (min-width: 992px) {
  .repository-card-items-container {
    flex-basis: 30%;
  }
}
@media (min-width: 1200px) {
  .repository-card-items-container {
    flex-basis: 24%;
  }
}
.card-item-image {
  height: 93px;
  width: 93px;
}
.card-item-name {
  color: #e73959;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Roboto';
}
.stats-container {
  display: flex;
  align-items: center;
  width: 85%;
  margin-bottom: 15px;
}
.stats-icon {
  height: 16px;
  width: 16px;
  margin-right: 12px;
}
.stats-text {
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0px;
  color: #1e293b;
}
